@model DAL.PageGroup

@{
    ViewBag.Title = "Create";
}

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="d-flex flex-column align-content-center justify-content-center">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group d-flex align-item-center justify-content-center">
            @Html.LabelFor(model => model.GroupTitle, htmlAttributes: new { @class = " control-label col-md-4  pt-2" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.GroupTitle, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.GroupTitle, "", new { @class = "text-danger" })
            </div>
        </div>
        <input type="submit" value="Create" class="btn btn-success mt-2" />
    </div>
}

