@model Pro_1_MVC_Learning.Models.Car

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Home.cshtml";
}

<div id="VA-container">
    <div id="VA-controller">
        <a href="">Go Back</a>
        <a href="">Go Next</a>
    </div>
    <div id="VA-div-form">
        @using (Html.BeginForm("Create", "ValidationNext", FormMethod.Post, new { id = "VA-form" }))
        {
            <p>
                @Html.LabelFor(car => car.Name)
                @Html.TextBoxFor(car => car.Name, new { placeholder = "Enter Name ..." })
                @Html.ValidationMessageFor(car => car.Name)
            </p>

            <p>
                @Html.LabelFor(car => car.Model)
                @Html.TextBoxFor(car => car.Model, new { placeholder = "Enter Model ..." })
                @Html.ValidationMessageFor(car => car.Model)
            </p>

            <p>
                @Html.LabelFor(car => car.Email)
                @Html.TextBoxFor(car => car.Email, new { placeholder = "Enter Email ..." })
                @Html.ValidationMessageFor(car => car.Email)
            </p>

            <p>
                @Html.LabelFor(car => car.Pass)
                @Html.TextBoxFor(car => car.Pass, new { placeholder = "Enter Pass ..." })
                @Html.ValidationMessageFor(car => car.Pass)
            </p>

            <p>
                @Html.LabelFor(car => car.RePass)
                @Html.TextBoxFor(car => car.RePass, new { placeholder = "Enter Re_Pass ..." })
                @Html.ValidationMessageFor(car => car.RePass)
            </p>

            <input type="submit" value="Submit" id="VA-submit" />
        }
    </div>
</div>


