@model Pro_1_MVC_Learning.Models.Teacher

@{
    ViewBag.Title = "Teacher";
    Layout = "~/Views/Shared/_Home.cshtml";
}




<div class="VA-container">
    <div class="VA-controller">
        <a href="">Go Back</a>
        <a href="">Go Next</a>
    </div>
    <div class="VA-div-form">
        @using (Html.BeginForm("CreateTeacher", "ValidationNext", FormMethod.Post, new { id = "VA-form1" }))
        {
            <p>
                @Html.LabelFor(car => car.UserName)
                @Html.TextBoxFor(car => car.UserName, new { placeholder = "Enter Username ..." })
                @Html.ValidationMessageFor(car => car.UserName)
            </p>

            <p>
                @Html.LabelFor(car => car.Password)
                @Html.TextBoxFor(car => car.Password, new { placeholder = "Enter Password ..." })
                @Html.ValidationMessageFor(car => car.Password)
            </p>

            <p>
                @Html.LabelFor(car => car.RePass)
                @Html.TextBoxFor(car => car.RePass, new { placeholder = "Enter RePass ..." })
                @Html.ValidationMessageFor(car => car.RePass)
            </p>

            <input type="submit" value="Submit" class="VA-submit" />
        }
    </div>
</div>
