@model DAL.Models.User
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/css/Register.css" rel="stylesheet" />
    <title>RegisterUser</title>
</head>
<body>
    <div class="container">
        <div id="form-container" class="row p-3">
            <div class="col-sm-12 col-md-6 d-flex flex-column justify-content-center ">
                <img class="img-fluid" id="form-pic" src="~/Image/LoginPic.jpg" />
            </div>
            <div class="col-sm-12 col-md-6" id="from-div">
                <h1>پنل حساب کاربری</h1>
                @using (Html.BeginForm("CreateUser", "Home", FormMethod.Post))
                {
                    @Html.TextBoxFor(c => c.Name, new { @class = "form-user-item", placeholder = "نام خود را وارد کنید ..." });
                    @Html.TextBoxFor(c => c.Family, new { @class = "form-user-item", placeholder = "فامیل خود را وارد کنید ..." });
                    @Html.TextBoxFor(c => c.Phone, new { @class = "form-user-item", placeholder = "تلفن خود را وارد کنید ..." });
                    @Html.TextBoxFor(c => c.Email, new { @class = "form-user-item", placeholder = "ایمیل خود را وارد کنید ..." });
                    @Html.TextBoxFor(c => c.Username, new { @class = "form-user-item", placeholder = "نام کاربری خود را وارد کنید ..." });
                    @Html.TextBoxFor(c => c.Password, new { @class = "form-user-item", placeholder = "رمز خود را وارد کنید ..." });
                    @Html.TextBoxFor(c => c.PasswordSlat, new { @class = "form-user-item", placeholder = "تکرار رمز خود را وارد کنید ..." });
                    <input class="form-user-submit form-control" type="submit" value="ثبت اطلاعات" />
                }
            </div>
        </div>
    </div>
    <script src="~/Scripts/jquery-3.6.1.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
</body>
</html>
