
@model DAL.Models.User

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.rtl.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/style.css" rel="stylesheet" />
    <title>Index</title>
</head>
<body>
    <header>
        <div id="header-container" class="m-3 p-3">
            <h1>
                نرم افزار مدیریت محتوا و نرم افزار
            </h1>
        </div>
    </header>

    <nav>
        <div class="container-fluid">
            <div id="nav-container" class="row d-flex flex-row align-items-center justify-content-between p-3 m-3">
                <ul class="nav col-lg-auto justify-content-center">
                    <li><a href="#" class="nav-link px-2 text-warning nav-items">خانه</a></li>
                    <li><a href="#" class="nav-link px-2 text-white nav-items">قابلیت</a></li>
                    <li><a href="#" class="nav-link px-2 text-white nav-items">قیمت</a></li>
                    <li><a href="#" class="nav-link px-2 text-white nav-items">توضیحات</a></li>
                    <li><a href="#" class="nav-link px-2 text-white nav-items">درباره ما</a></li>
                </ul>

                <div class="d-flex flex-row nav col-lg-auto justify-content-center">
                    <form class="m-3">
                        <input type="search" class="form-control" id="nav-search" placeholder="جستجو ..." id="header-nav-input" aria-label="Search">
                    </form>

                    @{
                        if (Model.Family != null)
                        {
                            <div class="dropdown m-3">
                                <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                                    <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
                                    <strong>@Model.Family</strong>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
                                    <li><a class="dropdown-item" href="#">New project...</a></li>
                                    <li><a class="dropdown-item" href="#">Settings</a></li>
                                    <li><a class="dropdown-item" href="#">Profile</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" href="#">Sign out</a></li>
                                </ul>
                            </div>
                        }
                        else
                        {
                            <div class="text-end m-3">
                                <a href="@Url.Action()" class="btn btn-outline-light">ورود</a>
                                <a href="@Url.Action("RegisterUser","Home")" class="btn btn-warning">ثبت نام</a>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </nav>

    <section>
        <div class="container-fluid">
            <div class="row m-3 d-flex flex-sm-column flex-md-row" id="section-container">
                <div class="col-sm-12 col-lg-2 mb-sm-3" id="asid-container">
                    <div id="asid-list" class="p-3 d-flex flex-md-row flex-md-wrap flex-lg-column">
                        <a class="asid-list-item" href="@Url.Action("Index","Home")">خانه</a>
                        <a class="asid-list-item" href="@Url.Action("Products","Home")">محصولات</a>
                        <a class="asid-list-item" href="@Url.Action("News","Home")">اخبار</a>
                    </div>
                </div>
                <div class="col-sm-12 col-lg-10">
                    <div id="body-container">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div id="footer-container" class="mt-5">
        Footer
    </div>
    <script src="~/Scripts/jquery-3.6.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    <script src="~/Scripts/script.js"></script>

</body>
</html>
