@model IEnumerable<DAL.Models.Page>

@{
    ViewBag.Title = "Index";
}


<p>
    @Html.ActionLink("Create New", "Create","",new {@class="btn btn-light"})
</p>
<table class="table text-light">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Photo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PageGroup.GroupTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Visit)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.ShowSlider)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreateTime)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <img src="~/Image/@item.Photo" class="img-thumbnail" style="max-width: 150px;" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PageGroup.GroupTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Visit)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.ShowSlider)
        </td>
        <td>
            @item.CreateTime.PersionCalender()
        </td>
        <td class="d-flex flex-column justify-content-center align-items-center">
            @Html.ActionLink("Edit", "Edit", new { id = item.PageId },new {@class="btn btn-info w-100"})
            @Html.ActionLink("Details", "Details", new { id = item.PageId }, new { @class = "btn btn-warning w-100 mt-1" })
            @Html.ActionLink("Delete", "Delete", new { id = item.PageId }, new { @class = "btn btn-danger w-100 mt-1" })
        </td>
    </tr>
}

</table>
