@model Pro_1_MVC_Learning.Models.Person

@{
    ViewBag.Title = "RegisterForm";
    Layout = "~/Views/Validation/Index.cshtml";
}

<div>
    <h2>RegisterForm</h2>
    <div id="Validation-Container">
        @using (Html.BeginForm("Create", "Validation", FormMethod.Post, new { id = "Validation-Form" }))
        {
                @Html.HiddenFor(person => person.Id)
            @Html.ValidationSummary()
            <p>
                @Html.LabelFor(person => person.Name)
                @Html.TextBoxFor(person => person.Name, new { placeholder = "Enter Name" })
                @Html.ValidationMessageFor(person => person.Name)
            </p>
            <p>
                @Html.LabelFor(person => person.Family)
                @Html.TextBoxFor(person => person.Family, new { placeholder = "Enter Family" })
                @Html.ValidationMessageFor(person => person.Family)
            </p>
            <p>
                @Html.LabelFor(person => person.Age)
                @Html.TextBoxFor(person => person.Age, new { placeholder = "Enter Age" })
                @Html.ValidationMessageFor(person => person.Age)

            </p>
            <input type="submit" value="@(Model.Id == 0 ? "Submit" : "Update")" id="validation-submit" />
        }
    </div>
</div>

