@model List<Pro_1_MVC_Learning.Models.News>
@{ 
    ViewBag.Title = "Index News";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/CSS/CRUDForm.css" rel="stylesheet" />
    <title>Index</title>
</head>
<body>

    <div class="container">
        <a href="@Url.Action("CreateNews","News")">Create News</a>
        @foreach (var i in Model)
        {
            <div class="item">
                <div class="info">
                    <p>ID : @i.Id</p>
                    <p>Title : @i.Title</p>
                    <p>Info : @i.Info</p>
                    <p>Picture : @i.Picture</p>
                    <p>Like : @i.Like</p>
                    <p>Comment Info : @i.CommentInfo</p>
                    <p>Comment Counter : @i.CommentCount</p>
                    <p>Is Active : @i.IsActive</p>
                </div>
                <div class="Controller">
                    <a href="@Url.RouteUrl("UpdateNews",new {id=i.Id})">Update</a>
                    <a href="@Url.RouteUrl("DeleteNews", new {id=i.Id})">Delete</a>
                </div>
            </div>
        }
    </div>
</body>
</html>
